
ELASTICEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
ELASTIC_USERNAME=user-dev
ELASTIC_PASSWORD='Aa@12345678'
ELASTIC_DATA_PATH=~/.docker-conf/elasticsearch/data
ELASTIC_LOG_PATH=~/.docker-conf/elasticsearch/logs/docker-cluster.log

KIBANA_PORT=5601

RABBITMQ_USER=admin
RABBITMQ_PASSWORD=12345678
RABBITMQ_DATA_PATH=~/.docker-conf/rabbitmq/data/
RABBITMQ_LOG_PATH=~/.docker-conf/rabbitmq/log/
RABBITMQ_AMQP_PORT=5672
RABBITMQ_WEB_PORT=15672

REDIS_PASSWORD=12345678
REDIS_DB=1
REDIS_PORT=6379
REDIS_DATA_PATH=~/.docker-conf/redis/data

